*{
    font-family: 'Roboto';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
}

header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 0 10%;
}

.container{
    margin: 20px;
    background-color: #8bcfff;
    height: 90vh;
    border-radius: 5px;
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    padding: 30px 0;
    padding-right: 20px;
}

.titulo img{
    height: 80px;
    width: 80px;
    margin-right: 10px;
}

.elementos-header{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.elemento{
    height: 100%;
    display: block;
    margin-right: 20px;
    font-size: 20px;
}

.abrir-menu{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
}

.abrir-menu:hover{
    background-color: #67b7ef;
    border-radius: 10px;
    color: white;
}

.menu{
    margin-top: 5px;
    position: relative;
    background-color: #d2efff;
    padding: 20px;
    border-radius: 5px;
    display: none;
    max-height: 500px;
    overflow: scroll;
}

.lista-opciones{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.lista-opciones li{
    margin-bottom: 10px;
    list-style: none;
}

.lista-opciones li a{
    text-decoration: none;
    color: black;
}

.lista-opciones li a:hover{
    background-color: #8bcfff;
}

.centro{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido{
    font-size: 3vh;
    font-weight: bold;
}
.contenido_2{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.resultado{
    border: 1px solid black;
    background-color: azure;
}
.resultado table {
    
}
