<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilosBase.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Aplicacion</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="titulo">
                <img src="logoPostgres.png" alt="logoPostgres">
                PostgreSQL
            </div>
            <div class="elementos-header">
                <div class="elemento">
                    Obtener objetos del servidor
                    <div class="menu">
                        <!--<ul>Obtener las bases de datos disponibles</ul>
                        <ul>Obtener los Roles que se puede conectar al servidor</ul>
                        <ul>Obtener los Grupos que existen en el servidor</ul>
                        <ul>Obtener los lenguajes del servidor</ul>-->
                    </div>
                </div>
                <div class="elemento">
                    Obtener objetos de la BBDD
                    <div class="menu"></div>
                </div>
                <div class="elemento">
                    Obtener detalles de los objetos.
                    <div class="menu"></div>
                </div>
                <div class="elemento">
                    Obtener detalles de privilegios de los objetos.
                    <div class="menu"></div>
                </div>
                <div class="elemento">
                    Monitoreo.
                    <div class="menu"></div>
                </div>
            </div>
        </header>
        
        <div class="centro">
            <div class="contenido"> <!--NOTA: ESTO ES LO QUE VA A SER REEMPLAZADO POR CADA RESULTADO SEGUN EL ENLACE SELECCIONADO-->
                Seleccione una de las opciones del menu para comenzar.
            </div>
        </div>
        <div class="final">

        </div>
    </div>
</body>
</html>
