{%extends "base.html"%}
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'estilosBase.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Aplicacion</title>
    
</head>
<body>
    <div class="container">
        <header>
            <div class="titulo">
                <img src="logoPostgres.png" alt="logoPostgres">
            </div>
            <div class="elementos-header">
                <div class="elemento">
                    PARTE II del lab3 (La PARTE I era lo del diccionario de datos asi q no entra)
                    <div class="abrir-menu" data-target="m1">
                        Obtener objetos del servidor
                    </div>
                    <div class="menu m1">
                        <ul class="lista-opciones">
                            <li><a href="">Obtener las bases de datos disponibles</a></li>
                            <li><a href="">Obtener los Roles que se puede conectar al servidor</a></li>
                            <li><a href="">Obtener los Grupos que existen en el servidor</a></li>
                            <li><a href="">Obtener los lenguajes del servidor</a></li>
                        </ul>
                    </div>
                </div>
                <div class="elemento">
                    <div class="abrir-menu" data-target="m2">
                        Obtener objetos de la BBDD
                    </div>
                    <div class="menu m2">
                        <ul class="lista-opciones">
                            <li><a href="">Obtener los esquemas</a></li>
                            <li><a href="">Obtener las tablas de un esquema</a></li>
                            <li><a href="">Obtener las vistas</a></li>
                            <li><a href="">Obtener las funciones</a></li>
                            <li><a href="">Obtener los trigger</a></li>
                            <li><a href="">Obtener las secuencias</a></li>
                            <li><a href="">Obtener las reglas</a></li>
                            <li><a href="">Obtener los tipos de datos</a></li>
                            <li><a href="">Obtener índices</a></li>
                        </ul>
                    </div>
                </div>
                <div class="elemento">
                    <div class="abrir-menu" data-target="m3">
                        Obtener detalles de los objetos
                    </div>
                    <div class="menu m3">
                        <ul class="lista-opciones">
                            <li><a href="">Detalles de los esquemas. <br>Obtener para un esquema los privilegios de acceso</a></li>
                            <li><a href="">Obtener detalles de las tablas. <br>Orden de los campos, nombre y tipo de dato</a></li>
                            <li><a href="">Obtener detalles de las tablas. Clave primaria</a></li>
                            <li><a href="">Obtener detalles de las tablas. Clave foráneas</a></li>
                            <li><a href="">Obtener detalles de las secuencias</a></li>
                            <li><a href="">Obtener la definición de un índice</a></li>
                        </ul>
                    </div>
                </div>
                <div class="elemento">
                    <div class="abrir-menu" data-target="m4">
                        Obtener detalles de privilegios de los objetos
                    </div>
                    <div class="menu m4">
                        <ul class="lista-opciones">
                            <li><a href="">Obtener los privilegios de una tabla</a></li>
                            <li><a href="">Obtener los privilegios de las funciones</a></li>
                        </ul>
                    </div>
                </div>
                <div class="elemento">
                    <div class="abrir-menu" data-target="m5">
                        Monitoreo
                    </div>
                    <div class="menu m5">
                        <ul class="lista-opciones">
                            <li><a href="">Usuarios conectados, IP y consulta</a></li>
                            <li><a href="">Tamaño de las bases de datos del servidor</a></li>
                            <li><a href="">Tamaño de una tabla</a></li>
                            <li><a href="">Tamaño de todas las tablas de un esquema</a></li>
                            <li><a href="">Listado por BBDD del tamaño total de la BBDD, <br> el nombre del esquema, el nombre
                                de la tabla, <br> el tamaño total de la tabla, el tamaño de la tabla <br> y el tamaño del índice</a></li>
                        </ul>
                    </div>
                </div>
                <script src="{% static 'scriptMostrarMenu.js' %}"></script>
            </div>
        </header>
        
        
            <div class="contenido_2"> -->

            {%block content%}   
                <section class="resultado">
                    <table>
                        <thead>
                            <tr>
                                {% for columna in columnas %}
                                    <th>{{ columna }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for tupla in resultados %}
                                <tr>
                                    {% for dato in tupla  %}
                                        <td>{{dato}}</td>
                                    {% endfor %}            
            
                                </tr>
                            {% endfor %}    
                        </tbody>
                    </table>
                </section>
            {%endblock%}
<!--                 <div>
                    <canvas id="grafico"></canvas>
                </div>
            </div>
        
        <div class="final"> ESTO PODRIA USARSE PARA CREDITOS: EJ: INTEGRANTES: (Y NUESTROS NOMBRES)

        </div>
    </div>
    <script>
         const grafico={{grafico|safe}};
        
        if(grafico==1){
        //const resultados={{resultados}};
        //const datos={{resultados|safe}};
            const datos={{resultados|safe}}
            
            let tupla=[]
            let listas=[]
            for (let i = 0; i < datos.length; i++) {
                for (let x = 0; x < datos[i].length; x++) {
                    tupla[x]= datos[i][x];
                    
                }
                listas.push(tupla) 
            }
            const labels={{columnas|safe}};
            const valor_prueba=[[123,121,212],[232,434,544]]
            
            const grafico=document.querySelector('#grafico');
            const chart = new Chart(grafico, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: listas.map((lista) =>{
                        datasets= {
                            label: 'ffff',
                            data: lista,
                            borderColor: 'rgba(255, 99, 132, 1)',
                            backgroundColor: 'rgba(255, 99, 132, 0.2)',
                            fill: true,
                            borderWidth: 1
                        }
                        return datasets
                    })
                    
                    
                    
                },
                options: {
                    responsive: true,
                    scales: {
                        x: {
                            title: {
                                display: true,
                                text: 'Fecha'
                            }
                        },
                        y: {
                            title: {
                                display: true,
                                text: 'Valor'
                            },
                            beginAtZero: false
                        }
                    }
                }
            });
        }
    </script>
    </body>
</html> -->

        
        
       
