{%extends "base.html"%}
{%block content%}   
    <section class="resultado">
        <table>
            <thead>
                <tr>
                    {% for columna in columnas %}
                        <th>{{ columna }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for tupla in resultados %}
                    <tr>
                        {% for dato in tupla  %}
                            <td>{{dato}}</td>
                        {% endfor %}            

                    </tr>
                {% endfor %}    
            </tbody>
        </table>
    </section>
{%endblock%}